# EDA on MovieLens 1M Dataset

## Importing Data

In [32]:
import pandas as pd
import numpy as np 
import seaborn as sns
import matplotlib.pyplot as plt
import pgeocode

In [14]:
path = "../Data/MovieLens1M_Dataset.csv"
data = pd.read_csv(path)
data.head(2)

,user_id,gender,age,occupation,zip_code,movie_id,rating,timestamp,title,genres
0,2,M,56,16,70072,1357,5,978298709,Shine (1996),Drama|Romance
1,2,M,56,16,70072,3068,4,978299000,"Verdict, The (1982)",Drama

---

## Data Cleaning

In [9]:
data.isna().any()

user_id       False
gender        False
age           False
occupation    False
zip_code      False
movie_id      False
rating        False
timestamp     False
title         False
genres        False
dtype: bool

In [13]:
data.isnull().any()

user_id       False
gender        False
age           False
occupation    False
zip_code      False
movie_id      False
rating        False
timestamp     False
title         False
genres        False
dtype: bool

In [16]:
data.duplicated().any()

False

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 998080 entries, 0 to 998079
Data columns (total 10 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   user_id     998080 non-null  int64
 1   gender      998080 non-null  object
 2   age         998080 non-null  int64
 3   occupation  998080 non-null  int64
 4   zip_code    998080 non-null  object
 5   movie_id    998080 non-null  int64
 6   rating      998080 non-null  int64
 7   timestamp   998080 non-null  int64
 8   title       998080 non-null  object
 9   genres      998080 non-null  object
dtypes: int64(6), object(4)
memory usage: 76.1+ MB

Everything appears satisfactory. The data is free of any inconsistencies or errors.

--------------

## Data Exploration

In [96]:
data

,user_id,gender,age,occupation,zip_code,movie_id,rating,timestamp,title,genres
0,2,M,56,16,70072,1357,5,978298709,Shine (1996),Drama|Romance
1,2,M,56,16,70072,3068,4,978299000,"Verdict, The (1982)",Drama
2,2,M,56,16,70072,1537,4,978299620,Shall We Dance? (Shall We Dansu?) (1996),Comedy
3,2,M,56,16,70072,647,3,978299351,Courage Under Fire (1996),Drama|War
4,2,M,56,16,70072,2194,4,978299297,"Untouchables, The (1987)",Action|Crime|Drama
...,...,...,...,...,...,...,...,...,...,...
998075,6040,M,25,6,11106,1091,1,956716541,Weekend at Bernie's (1989),Comedy
998076,6040,M,25,6,11106,1094,5,956704887,"Crying Game, The (1992)",Drama|Romance|War
998077,6040,M,25,6,11106,562,5,956704746,Welcome to the Dollhouse (1995),Comedy|Drama
998078,6040,M,25,6,11106,1096,4,956715648,Sophie's Choice (1982),Drama
998079,6040,M,25,6,11106,1097,4,956715569,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi