# Introduction

this is a ETL on Movie lens 1M dataset and data is downloaded form this link in below: 

###### https://www.kaggle.com/datasets/odedgolden/movielens-1m-dataset?select=README

I will create a new dataframe for the data contained in these three ".dat" files, where each column will be assigned a proper name according to the column names listed on the Kaggle website. Subsequently, I will save this dataframe into a new CSV file containing all the data.

In [14]:
import pandas as pd 
import os

# Import Data

In [3]:
movie_data = pd.read_csv("./MovieLens 1M Dataset/movies.dat", sep="::", encoding="latin", engine="python")
rating_data = pd.read_csv("./MovieLens 1M Dataset/ratings.dat", sep="::", encoding="latin", engine="python")
users_data = pd.read_csv("./MovieLens 1M Dataset/users.dat", sep="::", encoding="latin", engine="python")

# Adding Column Names

In [8]:
users_data.columns = ["user_id", "gender", "age", "occupation", "zip_code"]
rating_data.columns = ["user_id", "movie_id", "rating", "timestamp"]
movie_data.columns = ["movie_id", "title", "genres"]

# Create Final CSV File

I'll perform a merge between the user_data and rating_data dataframes based on the `"user_id"` column. Following that, I'll merge the resulting dataframe with the movie_data dataframe using the `"movie_id"` column.

In [15]:
MovieLens1M_Dataset = pd.merge(pd.merge(users_data, rating_data, on="user_id"), movie_data, on="movie_id")

In [17]:
MovieLens1M_Dataset.head(2)

,user_id,gender,age,occupation,zip_code,movie_id,rating,timestamp,title,genres
0,2,M,56,16,70072,1357,5,978298709,Shine (1996),Drama|Romance
1,2,M,56,16,70072,3068,4,978299000,"Verdict, The (1982)",Drama

# Storing The Data

In [18]:
folder_path = '../Data'
if not os.path.exists(folder_path):
    os.makedirs(folder_path)

# Save each DataFrame to a CSV file in the new folder
MovieLens1M_Dataset.to_csv(os.path.join(folder_path, 'MovieLens1M_Dataset.csv'), index=False)